* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    margin: 0;
  }
  body {
    line-height: 1.6;

  }
  header{
    background-color: #5b2541;
    text-align: center;
    color: white;
  }

  section {
    display: flex;
    justify-content: center;
    background-color: #c6c3c0;
    padding: 0;
    z-index: 1;
    top: 50px;
    margin: 0;
  }
  
  section ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
  }
  section ul li{
    display: inline-block;
    margin-right: 10px;
  }
  
  section ul li a {
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Ysabeau", sans-serif;
    background-color: transparent;
  }
  #product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    margin-bottom: 150px;
  }
  #search i{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: black;
  }
  #product .card{
    width: 500px;
    margin-bottom: 0;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5b2541;
    color: white;
  }
  /* cartPage */
 #orderSummary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  /* top: 70px; */
  left: 700px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  border: 2px solid black;
 }
  #cartAll{
    display: flex;
    flex: column;
  }
  #cart{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 150px;
  }
  #cart .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    background-color: white;
    width: 500px;
    padding: 5px;
    text-align: center;
  }
 
  /* login page */

  #loginContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 20px;
    
  }
  #loginContainer #headingsignup{
    font-size: 50px;
  }
  #loginContainer #or{
    display: block;
    align-items: center;
    font-size: 20px;
    color: gray;
  }
  #loginContainer a{
    text-decoration: none;
    color: black;
  }
  
  #loginContainer span{
    display: inline-block;
      width: 100px;
      border-top: 1px solid rgb(183, 183, 183);
      margin: 0 5px;
  }
  #loginContainer #google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid lightgray;
    font-size: 20px;
  }
  #loginContainer #google img{
    position: relative;
    right: 70px
  }
  #loginContainer #upfb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    background-color: #1877f2;
    color: white;
    font-size: 20px; 
    border: none;
  }
  #loginContainer #upfb img{
    position: relative;
    right: 70px
  }
  #loginContainer #semail{
    width: 400px;
    height: 60px;
    background: none;
    border: 1px solid lightgray;
    font-size: 20px;
  }
 /* singup page */


 #signupContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 20px;
  
}
#signupContainer #headingsignup{
  font-size: 50px;
}
#signupContainer #or{
  display: block;
  align-items: center;
  font-size: 20px;
  color: gray;
}
#signupContainer a{
  text-decoration: none;
  color: black;
}

#signupContainer span{
  display: inline-block;
    width: 100px;
    border-top: 1px solid rgb(183, 183, 183);
    margin: 0 5px;
}
#signupContainer #google{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
}
#signupContainer #google img{
  position: relative;
  right: 70px
}
#signupContainer #upfb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #1877f2;
  color: white;
  font-size: 20px; 
  border: none;
}
#signupContainer #upfb img{
  position: relative;
  right: 70px
}
#signupContainer #semail{
  width: 400px;
  height: 60px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
}
.close{
  position: relative;
  left: 400px;
  top: 80px;
}

/* home page */

#homeLogo{
  width: 200px;
  display: flex; 
  position: relative;
  right: 400px;
  
}
#secondSection #homeHero{
  background: #c6c3c0;
  height: 300px;
  flex: 1;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#secondSection button{
  width: 130px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 900;
  
 
}
.card{
  margin-bottom: 250px;
}
#secondSection #shopEthiopiaButton a{
  text-decoration: none;
  color: white;
}

/* product page */
#coffeeMainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

#coffeeMainContainer h1{
  font-size: 60px;
}
#coffeeMainContainer #coffeeim{
  margin-bottom: 150px;
}
#spiceMainContainer{
  margin-bottom: 200px;
}
